In [ ]:
import pandas as pd

In [1]:
import pandas as pd
tsv_data = pd.read_csv('C:\\Users\\loren\\Downloads\\tag00121.tsv.gz', sep='\t')
tsv_data

,"crops,strucpro,geo\time",2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"W1000,PR_HU_EU,AL",195.20,197.00,:,203.70,205.00,205.00,202.90,110.40,113.90,118.80 p,:,:
1,"W1000,PR_HU_EU,AT",375.30,287.30,318.93,266.49,302.45,260.34,331.43,367.13,309.92,319.79,:,:
2,"W1000,PR_HU_EU,BA",21.60 e,25.93 e,31.80 e,26.22 e,32.21 e,36.31 e,28.01 e,40.41 e,39.29 e,44.70 e,:,:
3,"W1000,PR_HU_EU,BE",0.00 n,0.00 n,0.00 n,0.00 n,0.00 n,0.00 n,0.00 n,0.00 n,0.00 n,0.00 n,0.00 n,0.00 n
4,"W1000,PR_HU_EU,BG",243.80,260.67,325.60,132.73,261.82,211.08 d,202.44,201.53,178.53,159.10,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,"W1300,PR_HU_EU,SI",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
160,"W1300,PR_HU_EU,SK",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
161,"W1300,PR_HU_EU,TR",1562.00,1614.00,1424.00,1563.00,1335.00,1537.00,1603.00,1524.00,1599.00,1534.00,:,:
162,"W1300,PR_HU_EU,UK",0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,:,:
163,"W1300,PR_HU_EU,XK",: z,: z,: z,: z,:,:,:,:,:,:,:,: